* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

:root {
  --background-article: #172529;
  --background-icon: #342E51;
  --text-primary: #fff;
  --text-muted: #B0B0B0;
  
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0F1B24;
    color: var(--text-primary);
    padding: 20px;
}

body > header {
    background-color: var(--background-article);
    margin: 20px;
    padding: 20px;
    border-radius: 0.5rem;
    border: 1px solid #5b7d9256;

    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        color: var(--text-primary);
    }
    nav {
          a {
            font-family: sans-serif;
            text-decoration: none;
            height: 48px;
            width: 48px;
            color: black;
            background-color: lightseagreen;
            border-radius: 0.5rem;
            padding: 5px;
            font-size: 1.1rem;
            transition: color 0.3s ease;

            &:hover {
                background-color: var(--background-article);
            }
        }       
    }
}
.imagen-circular {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main > section:nth-child(1) {
    text-align: center;
        h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.2rem;
            color: var(--text-muted);
            margin-bottom: 20px;
        }
}


main > section:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
}

article {
    color: var(--text-primary);
    background-color: var(--background-article);
    padding: 2rem;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px #000000;
    
    svg {
        height: 48px;
        width: 48px;
        color: #ffffff;
        background-color: var(--background-icon);
        margin-bottom: 16px;
        border-radius: 0.3rem;
        padding: 10px;

 }
    p {
        color: var(--text-muted);
    }

    h3{
        font-weight: 500;
    }
}

